*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif; 
    background: white;
    color: black;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);


}

.contenedor > div,
.contenedor,header,
.contenedor.footer,
.contenedor, .sidebar
.contenedor, .contenido{
    padding: 20px;
    border-radius: 4px;
}

header{
    background: #008541;
    color: azure;
    grid-column-start: 1;
    grid-column-end: 4;

}



.contenido{
    grid-column: span 2;
}

.sidebar{
    background: #c7efed;
    grid-column: 3 / 4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2 / 4;
}

.widget-1, .widget-2{

    background: #20dad8;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    color: white;
    display: inline-block;
    text-decoration: none;
}

footer{
    background: #2e5640;
    height: 60px;
    grid-column: span 3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: azure;
    margin: 0 30px;
    padding: 5px;
}

@media screen and (max-width: 768px){

    .contenedor, .contenido{
        grid-column: 1 / -1;
    }
    
    .contenedor, .sidebar{
        grid-column: 1 / -1;
    }

    .contenedor, .widget-1, .widget-2{
        grid-column: span 2;
    }
}